* {
  font-family: "Roboto Slab", serif;
}
.App {
  text-justify: distribute;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #282c34;
  font-family: "Roboto Slab", serif !important;
}

.App-header {
  min-height: 80vh;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(8.5px + 2vmin);
  color: white;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 90%;
  max-width: 900px;
  /* line-height: 25px; */
  margin: 30px auto;
}

a {
  color: green;
}

.install {
  /* font-family: monospace; */
  font-weight: bold;
}

input[type="button"] {
  margin: 5px;
}
